@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&text=0123456789');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese');

body {
  font-family: "Noto Sans", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

#contents {
  border: 0;
}

#header {
  border-bottom: 0;
}

textarea.tegalogpost {
  border-radius: unset;
  padding: .25rem;
}

.postbutton {
  border-radius: unset;
}
