@charset "UTF-8";

button.newiine_btn {
    position: relative;
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    color: #A29772; /* --color-palette-03 */
    font-size: .875rem; /* --font-size-smaller */
    border-radius: 20px;
    padding: 3px 13px;
    transition: .3s;
    z-index: 10;
}

button.newiine_btn svg {
  fill: #7F7566; /* color-palette-09 */
}

button.newiine_btn:hover {
    background: #f1f1f1;
}

button.newiine_btn span.material-icons-round {
    font-size: 18px;
    vertical-align: sub;
}

button.newiine_btn.newiine_clickedtoday {
    color: #FCA749;
}

button.newiine_btn.newiine_clickedtoday svg {
  fill: #FCA749;
}

button.newiine_btn.newiine_clickedtoday:hover {
    background: #fff3f5;
}

button.newiine_btn.newiine_clicked {
    color: #ffffff;
    background: #FCA749;
    border-color: #FCA749;
}

button.newiine_btn.newiine_clicked svg {
  fill: #ffffff;
}

button.newiine_btn.newiine_clicked:hover {
    background: #FCDE83;
    border-color: #FCDE83;
}

button.newiine_btn:before{
    position: absolute;
    content: '';
    display: block;
    margin: auto;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: all ease-out 0.5s;
    transform: scale(0.5);
    background: #fd7f96;
}

button.newiine_btn:active{
transform: scale(0.92);
}

button.newiine_btn.newiine_animate:before{
    visibility: visible;
    z-index: 1;
    animation: topBubbles ease-out 0.5s forwards;
}

@keyframes topBubbles {
  0%{
      opacity: 1;
      transform: scale(0.5);
  }
 100% {
     opacity: 0;
     transform: scale(1.5);
     visibility: hidden;
  }
}
